@font-face {
    font-family: 'IowanOldSt Blk BT';
    src: url('IowanOldStyleBT-BlackItalic.woff2') format('woff2'),
        url('IowanOldStyleBT-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'IowanOldSt Blk BT';
    src: url('IowanOldStyleBT-Black.woff2') format('woff2'),
        url('IowanOldStyleBT-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'IowanOldSt BT';
    src: url('IowanOldStyleBT-Italic.woff2') format('woff2'),
        url('IowanOldStyleBT-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'IowanOldSt BT';
    src: url('IowanOldStyleBT-Bold.woff2') format('woff2'),
        url('IowanOldStyleBT-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'IowanOldSt BT';
    src: url('IowanOldStyleBT-BoldItalic.woff2') format('woff2'),
        url('IowanOldStyleBT-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'IowanOldSt BT';
    src: url('IowanOldStyleBT-Roman.woff2') format('woff2'),
        url('IowanOldStyleBT-Roman.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Amiri';
    src: url('Amiri-Regular.woff2') format('woff2'),
        url('Amiri-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}