@import '/src/fonts/transfonter.org-20240714-221347/stylesheet.css';
@import '/src/fonts/transfonter.org-20240715-004456/stylesheet.css';
// @import '/node_modules/normalize.css/normalize.css';

body{
  margin: 0 auto;
  box-sizing: border-box;
  &.active_burger{
    overflow: hidden;
  }
}


@mixin onlylange($w) {
  @media only screen and (max-width: $w)
  {
      @content;
  }
}

$color_light: #D9D9D9;
$color_dark: #A79DA1;

// fonts
h1{
  color: $color_light;
  font-family: 'IowanOldSt BT';
  font-weight: normal;
  font-style: normal;
  text-align: center;
  font-size: 60px;
  letter-spacing: 3px;
  @include onlylange(900px){
    font-size: 40px;
  }
  @include onlylange(640px){
    font-size: 30px;
  }
  @include onlylange(465px){
    font-size: 25px;
  }
}

h2{
  color: #A79DA1;
  font-family: 'IowanOldSt BT';
  font-size: 50px;
  margin: 0;
  margin-bottom: 48px;
  span{
    color: #1E1E1E;
  }
  @include onlylange(900px){
    font-size: 35px;
  }
  @include onlylange(640px){
    font-size: 28px;
  }
  @include onlylange(465px){
    font-size: 23px;
  }
}
h3{
  color:#4a4a49;
  font-size: 23px;
  font-family: 'Inter Regular';
  line-height:24px;
}

p{
  font-family: 'Amiri';
  color: #4A4A49;
  font-size: 24px;
  text-align: justify;
  @include onlylange(900px){
    font-size: 20px;
  }
  @include onlylange(640px){
    font-size: 18px;
  }
  @include onlylange(465px){
    font-size: 15px;
  }
}


.center{
  max-width: 1260px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
  @include onlylange(1400px){
    max-width: 90%;
    padding-left: 37px;
    padding-right: 37px;
  }

  @include onlylange(712px){
    padding-left: 37px;
    padding-right: 37px;
  }
}


// header
header.start_scroll{
  &::before{
    top: 0px;
  }
  .container-header{
    border-bottom: none;
    // button{
    //   border: solid 1px #ffffff ;
    // }
    .burger-menu{
      span{
        background: $color_dark;
        &::before,
          &::after{
            background: $color_dark;
          }
      }
    }
    .active_burger{
      span {
        background: transparent;
        &:hover{
          background: transparent;
        }
      }
      span::before {
        transform: rotate(45deg);
        top: 0;
      }
      span::after {
        transform: rotate(-45deg);
        top: 0;
      }
      &:hover{
        span{
          &::before,
          &::after{
            background: #A79DA1;
          }
        }
      }
    }
    button{
      border: solid 1px $color_dark;
      color: $color_dark;
      svg{
        path{
          stroke:$color_dark;
        }
      }
    }
    a.logo-header{
      svg{
        path{
          fill:#666664;
        }
      }
      &:hover{
        filter:drop-shadow(0px 2px 2px rgba(0,0,0,0.3));
        svg{
          path{
            fill:#747473;
          }
        }
      }
    }
  }
}
header{
  position: relative;
  &::before{
    content: '';
    display: block;
    width: 100%;
    height: 90px;
    background: #FFFFFF;
    position: fixed;
    top: -90px;
    transition: all 0.8s ease;
    z-index: 3;
    @include onlylange(935px){
      height: 142px;
      top: -142px;
    }
  }
  .container-header{
    max-width: 1260px;
    width: 90vw;
    display: flex;
    margin: 0 auto;
    right: calc(50% - 1260px / 2);
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 32px;
    margin-bottom: 32px;
    position: fixed;
    z-index: 4;
    padding-bottom: 10px;
    border-bottom: solid 1px $color_light;
    @include onlylange(1393px){
      right: calc(50% - 90vw / 2);
    }
    @include onlylange(935px){
      flex-direction: column;
      flex-wrap: nowrap;
      height: 100px;
    }
    &.active{
      border-bottom: solid 1px  #4a4949 ;
      a.logo-header{
        svg{
          path{
            fill:#666664;
          }
        }
        &:hover{
          svg{
            path{
              fill: $color_light ;
            }
          }
        }
      }
    }
    // burger menu
    .burger-menu {
      width: 24px;
      height: 24px;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      position: relative;
      z-index: 1;
      transition: background-color 0.8s ease;
      &:hover{
        span{
          filter:drop-shadow(0px 4px 4px rgba(0,0,0,0.6));
          background: #fefefe;
          &::before,
          &::after{
          filter:drop-shadow(0px 2px 2px rgba(0,0,0,0.5));
          background: #f3f3f3;
          }
        }
      }
      span {
        display: block;
        width: 24px;
        height: 2px;
        background: $color_light;
        position: relative;
        z-index: 1;
        transition: all 0.8s ease;
        transition: background-color 0.8s ease;
        &::before,
        &::after {
          content: '';
          display: block;
          width: 24px;
          height: 2px;
          background: $color_light;
          transition: background-color 0.8s ease;
          position: absolute;
          transition: all 0.8s ease;
        }
        &::before {
          top: -9px;
        }
        &::after {
          top: 9px;
        }
      }
    }
    .active_burger{
      span {
        background: transparent;
        &:hover{
          background: transparent;
        }
      }
      span::before {
        transform: rotate(45deg);
        top: 0;
      }
      span::after {
        transform: rotate(-45deg);
        top: 0;
      }
      &:hover{
        span{
          &::before,
          &::after{
            background: #A79DA1;
          }
        }
      }
    }
    button{
      padding: 12px 40px 12px 72px;
      background: none;
      border: solid 1px $color_light;
      position: relative;
      font-family: "Avenir Next";
      font-size: 18px;
      color: $color_light;
      position: relative;
      z-index: 4;
      cursor: pointer;
      top: -10px;
      transition: background-color 0.5s ease;
      @include onlylange(935px){
        max-width: 290px;
      }
      &:hover{
        background: rgba(167, 157, 161, 0.2);
      }
      svg{
        position: absolute;
        left: 40px;
        top: calc( 50% - 17px / 2)
      }
    }
    a.logo-header{
      position: absolute;
      z-index: 4;
      top: -10px;
      left: calc( 50% - 156px / 2);
      transition:  0.8s ;
      svg{
        path{
          transition: background-color 0.8s ease;
        }
      }
      &:hover{
        filter:drop-shadow(0px 3px 3px rgba(0,0,0,0.9));
      }
    }

  }
}


.nav{
  position: fixed;
  visibility: hidden;
  width: 100%;
  height: calc(100vh);
  background: #212121;
  top: calc(-100vh );
  z-index: 3;
  transition: 0.8s;
  nav{
    margin-top: 180px;
    ul{
      padding: 0;
    }
    li{
      list-style: none;
      padding-bottom: 20px;
      a{
        text-decoration: none;
        font-family: "Inter";
        font-size: 20px;
        color: #A79DA1;
        &:hover{
          color: #ffff;
        }
      }
    }
  }
  .contact-info{
    margin-top: calc(100vh - 630px);
    .contact_burger{
      margin-bottom: 20px;
      a{
        display: block;
        text-align: right;
        text-decoration: none;
        font-family: "Inter";
        font-size: 18px;
        color: #A79DA1;
        margin-bottom:  10px;
        &:hover{
          color: #ffff;
        }
      }
    }
  }
}

div.social_network{
  width: 210px;
  display: flex;
  margin-left: auto;
  justify-content: space-between;
  .box_linc{
    border: solid 1px #373737;
    width: 64px;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: border-color 0.8s ease;
    &:hover{
      border-color: #ffff;
    }
  }
}

.active_nav{
  top: 0;
  visibility: visible;
}
// main
section.hero{
  background-image: url(../image/background_helo.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: auto 120%; // Устанавливаем начальный размер фона
  transition: transform .4s ease;
  // animation: scaleBackground 3s ease-in-out forwards; // Анимация масштаба
  background-size: cover;
  height: 388px;
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  h1{
    width: 970px;
  }
}
.main{
  position: relative;
  z-index: 2;
  padding-top: 100vh;
}




// footer
footer{
  padding-top: 40px;
  position: relative;
  width: 100%;
  top: 0;
  z-index: 2;
  background: #212121;
  .wrap{
    margin-top: 88px;
    .logo-footer{
      margin-left: 20px;
      margin-bottom: 80px;
    }
    div.nav-footer{
      border-top: solid 1px #373737;
      padding-top: 40px;
      border-bottom: solid 5px #373737;
      padding-bottom: 40px;
      padding-left: 10px;
      padding-right: 10px;
      @include onlylange(530px){
        border-bottom: none;
        padding-bottom: 0;
        padding-top: 0px;
      }
      ul{
        display: flex;
        justify-content: space-between;
        padding-left: 0;
        @include onlylange(530px){
          display: none;
        }
        li{
          list-style: none;
          a{
            color: $color_light;
            text-decoration: none;
            font-family: 'Amiri';
            font-style: 18px;
          &:hover{
            color: #fff;
            }
          }
        }
      }
    }
    .inform{
      margin-top: 57px;
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;
      @include onlylange(770px){
        flex-direction: column;
        align-items: center;
      }
      .form{
        @include onlylange(520px){
          width: 90%;
        }

        .title{
          font-family: 'Inter Light';
          font-size: 18px;
          color: $color_light;
          margin-bottom: 0;
        }
        .context{
          font-family: 'Inter Light';
          font-size: 13px;
          color: $color_light;
          margin-top: 5px;
        }
        form{
          margin-top: 64px;
          width: 440px;
          display: grid;
          grid-template-columns: repeat(4, 1fr);
          grid-template-rows: 63px 63px 63px;
          @include onlylange(520px){
            width: 100%;
          }
          input{
            display: block;
            background: #212121;
            border: solid 1px #373737;
            font-size: 11px;
            padding-left: 17px;
            // padding: 24px 17px;
            color: #A79DA1;
            margin: 0;
            box-sizing: border-box;
            width: 100%;
            &::placeholder{
              color: #A79DA1;
            }
            &.name-from{
              grid-column: 1 / 3;
              grid-row: 1;
            }
            &.surname{
              grid-column: 3 / 5;
              grid-row: 1;
            }
            &.phone{
              grid-column: 1 / 4;
              grid-row: 2;
            }
            &.email{
              grid-column: 1 / 4;
              grid-row: 3;
            }
          }
          button{
            grid-column: 4;
            grid-row: 3;
          }
          div.time{
            grid-column: 4;
            grid-row: 2;
            display: flex;
            align-items: center;
            flex-direction: column;
            border: solid 1px #373737;
            label{
              padding-top:11px;
              color: #A79DA1;
              font-size: 11px;
              padding-bottom: 3px;
            }
            select{
              // display: block;
              margin: 0 auto;
              color: #A79DA1;
              font-size: 13px;
              border: none;
              // border: solid 1px #373737;
              padding: 3px;
              background: #212121;
            }
          }
          @include onlylange(520px){
            grid-template-rows: repeat(4, 63px) ;
            grid-template-columns: repeat(3 , 1fr) 110px;
            input{
              &.name-from{
                grid-column: 1 / 5;
                grid-row: 1;
              }
              &.surname{
                grid-column: 1 /5;
                grid-row: 2;
              }
              &.phone{
                grid-column: 1 / 5;
                grid-row: 3;
              }
              &.email{
                grid-column: 1 / 4;
                grid-row: 4 /5;
              }
            }
            button{
              grid-column: 4;
              grid-row: 4;
            }
            div.time{
              grid-column: 4;
              grid-row: 3;
            }
          }
          @include onlylange(420px){
            grid-template-rows: repeat(6, 63px) ;
            input{
              &.phone{
                grid-column: 1 / 5;
                grid-row: 3;
              }
              &.email{
                grid-column: 1 / 5;
                grid-row: 5;
              }
            }
            button{
              grid-column: 1 / 5;
              grid-row: 6;
            }
            div.time{
              grid-column: 1 / 5;
              grid-row: 4;
              flex-direction: row;
              padding-left: 17px;

            }

          }
          button{
            border: solid 1px #373737;
            color: #A79DA1;
            background: #212121;
            cursor: pointer;
            &:hover{
              color: #A79DA1;
              background: rgba(167, 157, 161, 0.2);
            }
          }
        }
      }
      .contacts{
        margin-top: auto;
        @include onlylange(770px){
          margin-left: auto;
          margin-top: 30px;
        }
        .title{
          font-size: 18px;
          margin-bottom: 26px;
          color: #666664;
          text-align: right;
        }
        .address{
          color: #666664;
          text-align: right;
          font-size: 18px;
        }
        a.link{
          margin-top: 0px;
          margin-bottom: 0px;
          display: block;
          font-size: 18px;
          margin-bottom: 0px;
          color: #A79DA1;
          text-align: right;
          text-decoration: none;
          &:hover{
            color: #f3f3f3;
          }
        }
        .social_network{
          margin-top: 10px;
        }
      }
    }
    .site-info{
      border-top: solid 1px #373737;
      padding-top: 10px;
      padding-bottom: 10px;
      span{
        color: #A79DA1;
        font-size: 11px;
      }
      a{
        color: #A79DA1;
        font-size: 11px;
        text-decoration: none;
        &:hover{
          color: #f3f3f3;
        }
      }
      a.segroup{
        color: #666664;
        margin-left: 20px;
        &:hover{
          color: #A79DA1;
        }
      }
    }
  }
}
