@import '/src/scss/common-styles.scss';

// main

// about
.about{
  background: #F9F7F7;
  padding-top: 128px;
  padding-bottom: 270px;
  @include onlylange(771px){
    padding-bottom: 140px;
  }
  .wrap_content{
  max-width: 617px;
  padding-left: 50px;
  @include onlylange(800px){
    padding-left: 0;
  }
  }
  .flec-container{
    padding-top: 28px;
    display: flex;
    justify-content: space-between;
    column-gap: 20px;
    row-gap: 20px;
    @include onlylange(771px){
      flex-direction: column;
      align-items: center;
      padding-top:100px;
    }
    .item{
      width: 100%;
      opacity: 0;
      transform: translateY(20px);
      &.visible {
        opacity: 1;
        transform: translateY(0);
        transition: opacity 2s ease-out, transform 1s ease-out;
      }
      @include onlylange(1093px){
        &:nth-child(2) .title{
          width: 100px;
        }
        &:nth-child(1) .title{
          width: 150px;
        }
      }
      @include onlylange(771px){
        max-width: 624px;
      }
      img{
        width: 100%;
        height: 339px;
        object-fit: cover;
      }
      .title{
        font-family:'Inter';
        font-size: 21px;
        text-align: left;
        @include onlylange(1093px){
          font-size: 20px;
          width: 80%;}
        @include onlylange(640px){
          font-size: 19px;
        }
        @include onlylange(465px){
          font-size: 17px;
        }
      }
      .description{
        font-size: 16px;
        margin-bottom: 0;
      }
    }
  }
}

// services
.services{
  background: #F0EBE5;
  padding-top: 128px;
  padding-bottom: 96px;
  .wrap_conten{
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 50px;
    @include onlylange(960px){
      width: 90%;
      padding-left: 0;
      margin: 0 auto;
    }
    .description{
      max-width: 853px;
      margin-bottom: 64px;
    }
  }
  .swiper{
    max-width: 1440px;
    height: 512px;
    @include onlylange(1500px){
      width: 90%;
    }
    .swiper-wrapper{
      .swiper-slide{
        max-width: 536px;
        img.img-slide{
          width: 100%;
          height: 320px;
          object-fit: cover;
          // @include onlylange(768px){
          //   height: 200px;
          // }
        }
        .action-buttons{
          width: 100%;
          display: flex;
          justify-content: space-between;
          margin-top: 34px;
          @include onlylange(420px){
            flex-direction: column;
          }
          button{
            display: block;
            background: none;
            border: solid 1px  #A79DA1;
            color: #A79DA1;
            text-transform: uppercase;
            padding: 4px 10px;
            font-family: 'Inter Light';
            cursor: pointer;
            transition: background-color 0.5s ease;
            &:hover{
              background: rgba(167, 157, 161, 0.2);
              color: #4A4A49;
              border-color: #4A4A49 ;
            }
            &.link-request{
              padding-left: 30px;
              position: relative;
              padding-top: 5px;
              @include onlylange(420px){
                margin-top: 15px;
              }
              svg{
                top: 4px;
                left: 7px;
                position: absolute;
                &:hover{
                  path{
                    stroke: #4A4A49 ;
                  }
                }
                path{
                  stroke:  #A79DA1;
                }
              }
            }
          }
        }
      }
    }
    .swiper-pagination {
      top: 460px;
      left: 5%;
      @include onlylange(1500px){
        width: 90%;
      }
      @include onlylange(420px){
        top: 495px;
      }
    }
    .wrapper-btn{
      position: absolute;
      top: 200px;
      right: 40px;
      border-radius: 10px;
      @include onlylange(1024px){
        display: none;
      }
      .swiper-button-next, .swiper-button-prev{
        border-radius: 12px;
        background: rgba(255, 255, 255, 0.5);
        border: solid 1px rgba(123, 119, 121, 0.8);
        margin-left: -15px;
      &:hover{
        background: rgba(167, 157, 161, 0.8);
      }
        &::after{
          content: '';
          position: static;
        }
      }
      .swiper-button-prev{
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-left: none;
      }
      .swiper-button-next{
        border-top-right-radius: 0 ;
        border-bottom-right-radius: 0;
        left: -18px;
        border-right: none;
        img{
          padding: 3px;
          margin-top: -1px;
          transform: rotate(180deg);
        }
      }
    }
  }
}
.swiper-pagination-progressbar .swiper-pagination-progressbar-fill{
  background: #666664;
}

.reviews{
  background: #F9F7F7;
  padding-top: 160px;
  padding-bottom: 210px;
  .content{
    padding-left: 50px;
    p{
      max-width: 864px;
      margin-top: 48px;
      margin-bottom: 64px;
    }
    img{
      margin-bottom: 46px;
    }
  }
  .swiper{
    height: 600px;
    .swiper-slide{
      img.img_content-slide{
        width: 100%;
        height: 240px;
        object-fit: cover;
      }
      .stars{
        width: 144px;
        margin-top: 24px;
        img{
          width: 23px;
          height: 23px;
          padding-left: 2px;
        }
      }
    }
  }
}