@mixin onlylange($w) {
  @media only screen and (max-width: $w)
  {
      @content;
  }
}

$color_light: #D9D9D9;
$color_dark: #A79DA1;

.services .swiper .swiper-wrapper .swiper-slide img.img-slide{
  height: 220px;
}

main.services{
  .hero{
    background-image: url(../image/background_helo._services.jpg);
  }
  div.main{
    .services{
      .wrapp{
        max-width: 1425px;
        margin: 0 auto;
        padding-bottom: 120px;
      }
      .title{
        padding-left: 135px;
        max-width: 853px;
        @include onlylange(1060px){
          width: 90%;
          padding: 0;
          margin: 0 auto;
        }
      }
      .context{
        width: 100%;
        margin-top: 64px;
        display: flex;
        justify-content: space-between;
        .wrap-list{
          ul{
            padding-left: 0;
            width: 250px;
            @include onlylange(1500px){
              padding-left: 50px;
            }
            li{
              font-size: 23px;
              font-family: 'Inter Ligh';
              list-style-type: none;
              color: #766F6F;
              margin-top: 10px;
              transition: 0.8s;
              cursor: pointer;
              &:hover{
                color: #212121;
              }
            }
          }
        }
        ._wrap{
          display: none;
        }
        .wrap_services{
          padding-left: 50px;
          border-left: 1px solid #000;
          max-width: calc(100% - 303px);
          @include onlylange(1500px){
            padding-left: 0px;
          }
          @include onlylange(1060px){
            margin: 0 auto;
            border: none;
            max-width: 90%;
          }
          .btn{
            margin-left: auto;
            margin-right: 50px;
            padding: 12px 40px 12px 72px;
            background: none;
            border: solid 1px $color_dark;
            color: $color_dark;
            height: 44px;
            position: relative;
            font-family: "Avenir Next";
            font-size: 18px;
            color: $color_dark;
            position: relative;
            z-index: 4;
            cursor: pointer;
            top: -10px;
            transition: background-color 0.5s ease;
            @include onlylange(935px){
              max-width: 290px;
            }
            &:hover{
              background: rgba(167, 157, 161, 0.2);
            }
            svg{
              position: absolute;
              left: 40px;
              top: calc( 50% - 17px / 2)
            }

            svg{
              path{
                stroke:$color_dark;
              }
            }
          }

          .item_details{
            @include onlylange(1500px){
              padding-left: 50px;
              padding-right: 50px;
            }
            @include onlylange(1060px){
              padding-left: 0px;
              padding-right: 0px;
            }
            ._title{
              display: flex;
              justify-content: space-between;
              align-items: center;
              h2.detal{
                font-size: 40px;
                max-width: 600px;
                margin: 0;
                @include onlylange(1210px){
                  font-size: 30px;
                  max-width: 60%;
                }
              }
              @include onlylange(898px){
                flex-direction: column-reverse;
                align-items: normal;
                h2.detal{
                  max-width: 100%;
                  text-align: center;
                  margin: 0 auto;
                  margin-top: 20px;
                }
                .btn{
                  margin-top: 20px;
                  margin-left: auto;
                }
              }
            }
            .descripcion{
              display: flex;
              gap: 50px;
              align-items: center;
              &._next{
                flex-direction: row-reverse;
                @include onlylange(1200px){
                  flex-direction: column-reverse;
                  padding-bottom: 40px;
                }
              }
              @include onlylange(1200px){
                flex-direction: column-reverse;
                padding-top: 40px;
                gap: 0px;
              }
            }
            img{
              width: 360px;
              height: 250px;
              object-fit: cover;
              @include onlylange(1200px){
                width: 80%;
                height: 200px;
              }
            }

          }
          .swiper{
            width: 100%;
            @include onlylange(1500px){
              max-width: 90%;
            }
            // @include onlylange(1274px){
            //     max-width: 70%;
            //   }
            height: 735px;
            @include onlylange(819px){
              height: 380px;
            }
            .swiper-wrapper{
              height: 100%;
              width: 100%;
              .swiper-slide{
                height: calc(50% - 15px);
              }
            }
            .wrapper-btn{
              top: calc(50% - 45px) ;
            }
            .swiper-pagination{
              top: calc(100% - 6px);
              left: 10%;
              right: 10%;
              width: 80%;
            }
          }
        }
        @include onlylange(1060px){
          flex-direction: column;
          margin: 0 auto;
          .wrap-list{
            display: none;
          }
          ._wrap{
            display:block;
            margin: 0 auto;
            margin-bottom: 40px;
            .select-list{
              display: block;
              margin: 0 auto;
              border-radius: 0;
              padding: 12px 50px;
              border: solid 1px #212121 ;
              background: none;
            }
          }
        }
      }
    }
  }
}

main{
  padding-bottom: 0;
}
.btn{
  display: none;
}
.mySwiper2{
  display: none;
}
.item_details{
  display: none;
}
.active{
  display: block;
}


